@media (max-width: 1200px) {

    .promo{
      .hamburger{
        height: 26px;
        top: 52px;
        right: 77px;
      }
      .wrapper {
        max-width: 960px;

      }
      &__logo img{
        right: -29px;
      }
      .sidepanel{
        left: 150px;
      }

    }


  
}

@media (max-width: 992px) {
    .promo{
      .hamburger{
        height: 32px;
        top: 79px;
        right: 203px;
      }
    .wrapper {
      max-width: 720px;
    }
    &__logo img{
      right: -214px;
    }
    .sidepanel{
      left: 267px;
      font-size: 25px;
    }
    &__title{
      font-size: 42px;
      margin-top: 20px;
    }
    &__subtitle{
      font-size: 24px;
    }

    &__btns{
      margin-top: 40px;
    }
  }

  .menu__block{
    width: 35%;
    height: 120%;
    .menu__close {
      top: 33px;
      right: 57px;
    }
    .menu__list {
      text-align: center;
    }
    .menu__link{
      font-size: 38px;
      line-height: 50px
    }

    .menu__link::before{
      left: 100px;
      height: 20px;
      width: 20px;
    }

  }
}

@media (max-width: 768px) {
  .wrapper {
    max-width: 540px;
  }
  .promo{
    .hamburger{
      height: 32px;
      top: 79px;
      right: 203px;
    }
    .menu{
      height: 130vh;
      width: 280vw;
    }
  }
}

@media (max-width: 576px) {
    .container{
      max-width: 100vmin;
    }
    .promo{
      width: 227vw;
      .sidepanel{
        display: none;
      }
      &__logo img{
        right: -119px;
        top: 7px;
        height: 348px;
        width: 321px;

      }
  
    .wrapper {
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 10px;
    }
  }

  .menu__block{
    width: 45%;
    height: 100%;
    .menu__close {
      top: 33px;
      right: 57px;
    }
    .menu__list {
      height: 100%;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
      align-items: center;
    }
    .menu__link{
      font-size: 45px;
      line-height: 55px;
    }

    .menu__link::before{
      display: none;
    }

  }
  
}

@media (max-width: 508px) {
  .promo {
    width: 356%;
    position: relative;
    margin-top: -110px;
    .hamburger {
      right:18%;
      top: 3%;
    }
    .menu__block{
      width: 105%;
    }
  }
}